.Survey_Name {
  text-align: center;
  margin-left: 20px;
  margin-top: 30px;
  color: azure;
  font-size: large;
}

.Survey_Title {
  text-align: center;
  margin-left: 20px;
  margin-top: 35px;
  color: azure;
  font-size: large;
}

.Survey_Input {
  width: 400px;
  height: 40px;
  text-align: center;
  border: 2px double #dc3545;
  border-radius: 15px;
}

.First_Container {
  margin-top: 75px;
  border-style: double;
  border-color: #dc3545;
  width: 600px;
  height: 275px;
  position: relative;
  left: 400px;
}

.QuestionBody {
  width: 300px;
  float: left;
}

.QuestionTypeClass {
  float: left;
}

select {
  width: 100%;
  height: 40px;
  font-size: 100%;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0;
  background-color: #c0392b;
  border: none;
  border-bottom: 2px solid #962d22;
  color: white;
  padding: 4px;
  padding-right: 10px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* Adding transition effect */
  transition: color 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;
}

/* For IE <= 11 */
select::-ms-expand {
  display: none;
}

select:hover,
select:focus {
  color: #c0392b;
  background-color: white;
  border-bottom-color: #DCDCDC;
}

.SubmitBtn {
  width: 200px;
  height: 50px;
  margin-left: 95px;
  margin-bottom: 100px;
  background-color: #f44336;
  font-size: 19px;
  font-style: italic;
  border-radius: 8px;
  border: 2px solid #bb1515;
}

.SubmitBtn:hover {
  background-color: #db6868;
  color: white;
}

.AddQuestionButton {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 500px;

  float: right;
  margin-right: 90px;
  background-color: #e75b51d5;
  border: 2px solid #7a0b0b;
  transition-duration: 0.4s;
  border-radius: 12px;
  padding: 14px 40px;
  font-size: small;
}

.AddQuestionButton:hover {
  background-color: #af4c4c;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: white;
}

.AddQuestionButton:active {
  background-color: #af4c4c;
  box-shadow: 0 5px #666;
  transform: translateY(4px);

}




.RemoveQuestionButton {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 500px;

  float: right;
  margin-right: 90px;
  background-color: #161ad6f8;
  border: 2px solid #1b79e6;
  transition-duration: 0.4s;
  border-radius: 12px;
  padding: 14px 40px;
  font-size: small;
}

.RemoveQuestionButton:hover {
  background-color: #3e82db;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: white;
}

.RemoveQuestionButton:active {
  background-color: #2e3cff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);

}

.div_Visibility{
  display:none;
}